@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap:100,200,300,400,500,600,700');

body {
   background-color: rgb(231, 223, 200); 
}
/*--- Containers ---*/

.container {
    font-family: 'Fredericka the Great', cursive; 
}

.container, .about-container { 
    padding: 1rem 3rem;
    letter-spacing: 10px;
}

.about-container, .continent-info, .booking {
    width: 100vw;
    background-color: rgb(231, 223, 200);
    font-family: 'Alata', sans-serif;
}

.footer-container {
    background-color: #9d7cb8;
    text-align: center;
    height: 15vh;
    width: 100vw;
    margin-top: 8vh;
}

.row {
    margin: 0;
}

/*-- Text--*/

.badge-secondary, .navbar-home, h2, h4, h5 {
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive; 
    color: #9d7cb8;
}

.booking a {
    color: #000;
}

/*-- Home Page--*/

h1 {
    text-align: right;
    margin-bottom: 0;
}

.badge-secondary {
    color: rgb(231, 223, 200); 
    background-color: #9d7cb8;
}

#menu-image {
    height: 35vh;
    width: 30vw;
    margin-top: 2.5rem;
    border: 3px solid white;
}

p {
    text-align: left;
    letter-spacing: 0;
}

/*--- Navbar ---*/

.navbar-home {
    height: 100vh;
    font-size: 2rem;
    padding-bottom: 2.5rem;
}

.nav-link {
    color: #9d7cb8;
    padding: 2rem;
}

.navbar-home a:hover {
    font-size: 3rem;
    color: #fcfcfc;
    padding: 0;  
    text-decoration: none; 
}

a.navbar-brand {
    color: #9d7cb8;
    text-transform: uppercase;
    padding-right: 2rem;
}
/*-- Breaks --*/

.break-line {
    background-color: #9d7cb8;
    height: 5px;
    width: 10vw;
    margin-top: 5vh;
}

/*--About Us--*/

.about-info {
    padding: 2vh 5vw;
    font-size: x-large;
    text-align: center;
    color: #9d7cb8;
}

h2 {
    text-align: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

h4 {
    padding-bottom: 3vh;
    padding-top: 3vh;
}

/*-- Map --*/

#map {
    height: 80vh;
}

/*-- Images --*/

.sample-images {
    background: no-repeat center center;
    height: 35vh;  
    width: 25vw;
}

/*-- Footer --*/

.social-icon {
    background-color: #9d7cb8;
    border: none;
    padding: 2rem;
    text-align: center;
    list-style: none;
}

.social-icon a i {
    background-color: #9d7cb8;
    color: rgb(231, 223, 200); 
    font-size: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
}

.social-icon a i:hover{
    color: #9d7cb8;
    background-color: rgb(231, 223, 200);
}


/*-- Image edits for small devices --*/

@media (max-width: 900px) {
    #menu-image {
        display: none;
    }
}

@media (max-width: 570px) {
    .sample-images {
        height: 40vh;
        width: 80vw;
    }
}