@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap:100,200,300,400,500,600,700');

body {
   background-color: rgb(231, 223, 200); 
}
/*--- Containers ---*/

.container {
    font-family: 'Fredericka the Great', cursive; 
}

.container, .about-container { 
    padding: 1rem 3rem;
    letter-spacing: 10px;
}

.about-container, .continent-info, .booking {
    height: flex;
    width: 100vw;
    background-color: rgb(231, 223, 200);
    font-family: 'Alata', sans-serif;
}

.footer-container {
    background-color: #9d7cb8;
    text-align: center;
}

/*-- Text--*/

.badge-secondary, .navbar-home, h2, h4, h5 {
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive; 
    color: #9d7cb8;
}

h5 p {
    color: #000;
}

/*-- Home Page--*/

h1 {
    text-align: right;
    margin-bottom: 0;
}

.badge-secondary {
    color: rgb(231, 223, 200); 
    background-color: #9d7cb8;
}

#menu-image {
    height: 20vh;
    width: 20vw;
}

p {
    text-align: left;
    letter-spacing: 0;
}

/*--- Navbar ---*/

.navbar-home {
    height: 100vh;
    font-size: 2vw;
    padding-bottom: 2.5rem;
    
}

.nav-link {
    color: #9d7cb8;
    padding: 2rem;
}

.navbar-home a:hover {
    font-size: 3.5vw;
    color: #fcfcfc;
    padding: 0;  
    text-decoration: none; 
}

a.navbar-brand {
    color: #9d7cb8;
    text-transform: uppercase;
    padding-right: 2rem;
}
/*-- Breaks --*/

.break-line {
    background-color: #9d7cb8;
    height: 5px;
    width: 10vw;
    margin-top: 10vh;
}

/*--About Us--*/

.about-info {
    padding: 2vh 5vw;
    font-size: x-large;
    text-align: center;
    color: #9d7cb8;
}

h2 {
    text-align: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

h4 {
    padding-bottom: 3vh;
    padding-top: 3vh;
}

/*-- Map --*/

#map {
    height: 80vh;
}

/*-- Images --*/

.temple-image {
    background: no-repeat center center;
    height: 30vh;
}

.budapest-image {
    background: no-repeat center center;
    height: 30vh;
}

.byron-image {
    background: no-repeat center center;
    height: 30vh;
}

.central-park-image {
    background: no-repeat center center;
    height: 30vh;
}

.rio-image {
    background: no-repeat center center;
    height: 30vh;
}

.elephant-image {
    background: no-repeat center center;
    height: 30vh;
}

.barcelona-image {
    background: no-repeat center center;
    height: 30vh;
    
}

.ayers-rock-image {
    background: no-repeat center center;
    height: 30vh;
}

.paris-image {
    background: no-repeat center center;
    height: 30vh;
}

/*-- Asia Images --*/

.the-beach-image {
    background: url("assets/images/asia/the-beach.jpg") no-repeat center center;
    height: 30vh;
}

.koh-san-road-image {
    background: url("assets/images/asia/koh-san-road.jpg") no-repeat center center;
    height: 30vh;
}

.hai-van-pass-image {
    background: url("assets/images/asia/hai-van-pass.jpg") no-repeat center center;
    height: 30vh;
}

/*-- Australia Images --*/

.fraser-island-image {
    background: url("assets/images/australia/fraser-island.jpg") no-repeat center center;
    height: 30vh;
}

.sydney-image {
    background: url("assets/images/australia/sydney.jpg") no-repeat center center;
    height: 30vh;
}

.whitsundays-image {
    background: url("assets/images/australia/whitsundays.jpg") no-repeat center center;
    height: 30vh;
}

/*-- Europe Images --*/

.amsterdam-image {
    background: url("assets/images/europe/amsterdam.jpg") no-repeat center center;
    height: 30vh;
}

.london-image {
    background: url("assets/images/europe/london.jpg") no-repeat center center;
    height: 30vh;
}

.krakow-image {
    background: url("assets/images/europe/krakow.jpg") no-repeat center center;
    height: 30vh;
}

/*-- North America Images --*/

.hollywood-image {
    background: url("assets/images/northamerica/hollywood.jpg") no-repeat center center;
    height: 30vh;
}

.vegas-image {
    background: url("assets/images/northamerica/vegas.jpg") no-repeat center center;
    height: 30vh;
}

.washington-image {
    background: url("assets/images/northamerica/washington.jpg") no-repeat center center;
    height: 30vh;
}

/*-- South America Images --*/

.mendoza-image {
    background: url("assets/images/southamerica/mendoza.jpg") no-repeat center center;
    height: 30vh;
}

.sugarloaf-image {
    background: url("assets/images/southamerica/sugarloaf.jpg") no-repeat center center;
    height: 30vh;
}

.iguazu-image {
    background: url("assets/images/southamerica/iguazu.jpg") no-repeat center center;
    height: 30vh;
}

/*-- Footer --*/

.list-group-item {
    background-color: #9d7cb8;
    border: none;
    margin: 3vh;
    text-align: center;
}

.list-group-item a i {
    background-color: #9d7cb8;
    color: rgb(231, 223, 200); 
    font-size: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
}

.list-group-item a i:hover{
    color: #9d7cb8;
    background-color: rgb(231, 223, 200);
}

